{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta content="Codescandy" name="author">
      <title>Shop Grid eCommerce HTML Template - FreshCart</title>
      <link href="{% static 'products/css/tiny-slider.css' %}" rel="stylesheet">
      <link href="{% static 'products/css/nouislider.min.css' %}" rel="stylesheet">
      <!-- Favicon icon-->
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

      <!-- Libs CSS -->
      <link href="{% static 'products/css/bootstrap-icons.min.css' %}" rel="stylesheet">
      <link href="{% static 'products/css/feather-icons.css' %}" rel="stylesheet">
      <link href="{% static 'products/css/simplebar.min.css' %}" rel="stylesheet">

      <!-- Theme CSS -->
      <link rel="stylesheet" href="{% static 'products/css/theme.min.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() {
            dataLayer.push(arguments);
         }
         gtag("js", new Date());

         gtag("config", "G-M8S4MT3EYG");
      </script>
   </head>

   <body>
      <!-- navbar -->




      <main>
          {% block content %}
              <div class="mt-4">
                <div class="container">
                   <!-- row -->
                   <div class="row">
                      <!-- col -->
                      <div class="col-12">
                         <!-- breadcrumb -->
                         <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                               <li class="breadcrumb-item"><a href="#!">Главная</a></li>
                               <li class="breadcrumb-item"><a href="#!">Каталог</a></li>
                            </ol>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>

              <div class="mt-8 mb-lg-14 mb-8">
            <!-- container -->
            <div class="container">
               <!-- row -->
               <div class="row gx-10">
                  <!-- col -->
                  <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
                     <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
                        <div class="offcanvas-header d-lg-none">
                           <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body ps-lg-2 pt-lg-0">

                           <div class="mb-8">
                              <h5 class="mb-3">Магазины</h5>
                              <div class="my-4">
                                 <!-- input -->
                                 <input type="search" class="form-control" placeholder="Search by store">
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="eGrocery" checked="">
                                 <label class="form-check-label" for="eGrocery">E-Grocery</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="DealShare">
                                 <label class="form-check-label" for="DealShare">DealShare</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Dmart">
                                 <label class="form-check-label" for="Dmart">DMart</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Blinkit">
                                 <label class="form-check-label" for="Blinkit">Blinkit</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="BigBasket">
                                 <label class="form-check-label" for="BigBasket">BigBasket</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="StoreFront">
                                 <label class="form-check-label" for="StoreFront">StoreFront</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Spencers">
                                 <label class="form-check-label" for="Spencers">Spencers</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="onlineGrocery">
                                 <label class="form-check-label" for="onlineGrocery">Online Grocery</label>
                              </div>
                           </div>
                           <div class="mb-8">
                              <!-- price -->
                              <h5 class="mb-3">Price</h5>
                              <div>
                                 <!-- range -->
                                 <div id="priceRange" class="mb-3"></div>
                                 <small class="text-muted">Price:</small>
                                 <span id="priceRange-value" class="small"></span>
                              </div>
                           </div>
                           <!-- rating -->
                           <div class="mb-8">
                              <h5 class="mb-3">Rating</h5>
                              <div>
                                 <!-- form check -->
                                 <div class="form-check mb-2">
                                    <!-- input -->
                                    <input class="form-check-input" type="checkbox" value="" id="ratingFive">
                                    <label class="form-check-label" for="ratingFive">
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                    </label>
                                 </div>
                                 <!-- form check -->
                                 <div class="form-check mb-2">
                                    <!-- input -->
                                    <input class="form-check-input" type="checkbox" value="" id="ratingFour" checked="">
                                    <label class="form-check-label" for="ratingFour">
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                    </label>
                                 </div>
                                 <!-- form check -->
                                 <div class="form-check mb-2">
                                    <!-- input -->
                                    <input class="form-check-input" type="checkbox" value="" id="ratingThree">
                                    <label class="form-check-label" for="ratingThree">
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                    </label>
                                 </div>
                                 <!-- form check -->
                                 <div class="form-check mb-2">
                                    <!-- input -->
                                    <input class="form-check-input" type="checkbox" value="" id="ratingTwo">
                                    <label class="form-check-label" for="ratingTwo">
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                    </label>
                                 </div>
                                 <!-- form check -->
                                 <div class="form-check mb-2">
                                    <!-- input -->
                                    <input class="form-check-input" type="checkbox" value="" id="ratingOne">
                                    <label class="form-check-label" for="ratingOne">
                                       <i class="bi bi-star-fill text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                       <i class="bi bi-star text-warning"></i>
                                    </label>
                                 </div>
                              </div>
                           </div>
                           <div class="mb-8 position-relative">
                              <!-- Banner Design -->
                              <!-- Banner Content -->
                              <div class="position-absolute p-5 py-8">
                                 <h3 class="mb-0">Fresh Fruits</h3>
                                 <p>Get Upto 25% Off</p>
                                 <a href="#" class="btn btn-dark">
                                    Shop Now
                                    <i class="feather-icon icon-arrow-right ms-1"></i>
                                 </a>
                              </div>
                              <!-- Banner Content -->
                              <!-- Banner Image -->
                              <!-- img -->
                              <img src="{% static 'products/images/assortment-citrus-fruits.png' %}" alt="" class="img-fluid rounded">
                              <!-- Banner Image -->
                           </div>
                        </div>
                     </div>
                  </aside>
                  <section class="col-lg-9 col-md-12">
                     <!-- card -->
                     <section class="my-lg-2 my-8">
                        <div class="container">
                           <div class="row align-items-center mb-6">
                              <div class="col-10">
                                 <div>
                                    <!-- heading    -->
                                    <h3 class="align-items-center d-flex mb-0 h4">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers text-primary">
                                          <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                          <polyline points="2 17 12 22 22 17"></polyline>
                                          <polyline points="2 12 12 17 22 12"></polyline>
                                       </svg>
                                       <span class="ms-3"><a style="color: black;" href="{% url 'products:category' %}">Категории</a></span>
                                    </h3>
                                 </div>
                              </div>
                              <div class="col-2">
                                 <div class="slider-arrow slider-8-columns-arrow" id="slider-8-columns-arrows"></div>
                              </div>
                           </div>
                           <div class="row g-6">
                              <div class="col-12">
                                 <div class="position-relative">
                                    <div class="slider-8-columns" id="slider-8-columns">
                                       <!-- item -->

                                       {% for c in category %}
                                           <div class="item">
                                          <!-- item -->
                                              <a href="{% url 'products:sub_category' c.id %}" class="text-decoration-none text-inherit">
                                                 <!-- card -->
                                                 <div class="card mb-3 card-lift">
                                                    <div class="card-body text-center py-6">
                                                       <!-- img -->
                                                       <div class="my-5">
                                                          <svg width="56" height="56" fill="#3d4f58" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="{{ c.image }}" fill-rule="evenodd"></path>
                                                          </svg>
                                                       </div>
                                                       <!-- text -->
                                                       <div class="text-truncate">{{ c.name }}</div>
                                                    </div>
                                                 </div>
                                              </a>
                                           </div>
                                       {% endfor %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <!-- list icon -->
                     <div class="d-lg-flex justify-content-between align-items-center">
                        <div class="mb-3 mb-lg-0">

                        </div>

                        <!-- icon -->
                        <div class="d-md-flex justify-content-between align-items-center">
                           <div class="d-flex align-items-center justify-content-between">

                              <div class="ms-2 d-lg-none">
                                 <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter me-2">
                                       <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                    </svg>
                                    Filters
                                 </a>
                              </div>
                           </div>

                           <div class="d-flex mt-2 mt-lg-0">
                              <div class="me-2 flex-grow-1">
                                 <!-- select option -->
                                 <select class="form-select">
                                    <option selected="">Показать: 50</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                 </select>
                              </div>
                              <div>
                                 <!-- select option -->
                                 <select class="form-select">
                                    <option selected="">Сортировать по: Рекомендуемые</option>
                                    <option value="Low to High">Цена: по возрастанию</option>
                                    <option value="High to Low">Цена: по убыванию</option>
                                    <option value="Release Date">Дата выпуска</option>
                                    <option value="Avg. Rating">Рейтинг</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">

                        {% for p in products %}
                        <div class="modal fade" id="quickViewModal" tabindex="-1" aria-hidden="true">
                             <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                   <div class="modal-body p-8">
                                      <div class="position-absolute top-0 end-0 me-3 mt-3">
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="row">
                                         <div class="col-lg-6">
                                            <!-- img slide -->
                                            <div class="product productModal" id="productModal">
                                               <div class="zoom" onmousemove="zoom(event)" style="background-image: url({{ p.image.url }})">
                                                  <!-- img -->
                                                  <img src="{{ p.image.url }}" alt="">
                                               </div>
                                               <div>
                                                  <div class="zoom" onmousemove="zoom(event)" style="background-image: url({% static 'products/images/product-single-img-2.jpg' %})">
                                                     <!-- img -->
                                                     <img src="{% static 'products/images/product-single-img-2.jpg' %}" alt="">
                                                  </div>
                                               </div>
                                               <div>
                                                  <div class="zoom" onmousemove="zoom(event)" style="background-image: url({% static 'products/images/product-single-img-3.jpg' %})">
                                                     <!-- img -->
                                                     <img src="{% static 'products/images/product-single-img-3.jpg' %}" alt="">
                                                  </div>
                                               </div>
                                               <div>
                                                  <div class="zoom" onmousemove="zoom(event)" style="background-image: url({% static 'products/images/product-single-img-4.jpg' %})">
                                                     <!-- img -->
                                                     <img src="{% static 'products/images/product-single-img-4.jpg' %}" alt="">
                                                  </div>
                                               </div>
                                            </div>
                                            <!-- product tools -->
                                            <div class="product-tools">
                                               <div class="thumbnails row g-3" id="productModalThumbnails">
                                                  <div class="col-3">
                                                     <div class="thumbnails-img">
                                                        <!-- img -->
                                                        <img src="{{ p.image.url  }}" alt="">
                                                     </div>
                                                  </div>
                                                  <div class="col-3">
                                                     <div class="thumbnails-img">
                                                        <!-- img -->
                                                        <img src="{% static 'products/images/product-single-img-2.jpg' %}" alt="">
                                                     </div>
                                                  </div>
                                                  <div class="col-3">
                                                     <div class="thumbnails-img">
                                                        <!-- img -->
                                                        <img src="{% static 'products/images/product-single-img-3.jpg' %}" alt="">
                                                     </div>
                                                  </div>
                                                  <div class="col-3">
                                                     <div class="thumbnails-img">
                                                        <!-- img -->
                                                        <img src="{% static 'products/images/product-single-img-4.jpg' %}" alt="">
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                         </div>
                                         <div class="col-lg-6">
                                            <div class="ps-lg-8 mt-6 mt-lg-0">
                                               <a href="#!" class="mb-4 d-block">{{ p.subcategory }}</a>
                                               <h2 class="mb-1 h1">{{ p.name }}</h2>
                                               <div class="mb-4">
                                                  <small class="text-warning">
                                                     <i class="bi bi-star-fill"></i>
                                                     <i class="bi bi-star-fill"></i>
                                                     <i class="bi bi-star-fill"></i>
                                                     <i class="bi bi-star-fill"></i>
                                                     <i class="bi bi-star-half"></i>
                                                  </small>
                                                  <a href="#" class="ms-2">(30 reviews)</a>
                                               </div>
                                               <div class="fs-4">
                                                  <span class="fw-bold text-dark">$</span>
                                                  <span class="text-decoration-line-through text-muted">$35</span>
                                                  <span><small class="fs-6 ms-2 text-danger">26% Off</small></span>
                                               </div>
                                               <hr class="my-6">
                                               <div class="mb-4">
                                                  <button type="button" class="btn btn-outline-secondary">250g</button>
                                                  <button type="button" class="btn btn-outline-secondary">500g</button>
                                                  <button type="button" class="btn btn-outline-secondary">1kg</button>
                                               </div>
                                               <div>
                                                  <!-- input -->
                                                  <!-- input -->
                                                  <div class="input-group input-spinner">
                                                     <input type="button" value="-" class="button-minus btn btn-sm" data-field="quantity">
                                                     <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input">
                                                     <input type="button" value="+" class="button-plus btn btn-sm" data-field="quantity">
                                                  </div>
                                               </div>
                                               <div class="mt-3 row justify-content-start g-2 align-items-center">
                                                  <div class="col-lg-4 col-md-5 col-6 d-grid">
                                                     <!-- button -->
                                                     <!-- btn -->
                                                     <button type="submit" class="btn btn-primary">
                                                        <i class="feather-icon icon-shopping-bag me-2"></i>
                                                        Добавить в корзину
                                                     </button>
                                                  </div>
                                                  <div class="col-md-4 col-5">
                                                     <!-- btn -->
                                                     <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                                     <a class="btn btn-light" href="#!" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="feather-icon icon-heart"></i></a>
                                                  </div>
                                               </div>
                                               <hr class="my-6">
                                               <div>
                                                  <table class="table table-borderless">
                                                     <tbody>
                                                        <tr>
                                                           <td>Product Code:</td>
                                                           <td>FBB00255</td>
                                                        </tr>
                                                        <tr>
                                                           <td>Availability:</td>
                                                           <td>In Stock</td>
                                                        </tr>
                                                        <tr>
                                                           <td>Type:</td>
                                                           <td>Fruits</td>
                                                        </tr>
                                                        <tr>
                                                           <td>Shipping:</td>
                                                           <td>
                                                              <small>
                                                                 01 day shipping.
                                                                 <span class="text-muted">( Free pickup today)</span>
                                                              </small>
                                                           </td>
                                                        </tr>
                                                     </tbody>
                                                  </table>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                        {% endfor %}

                         {% for p in products %}
                        <div class="col">
                           <!-- card -->
                           <div class="card card-product">
                              <div class="card-body">
                                 <!-- badge -->
                                 <div class="text-center position-relative">
                                    <a href="{% url 'products:product' p.id %}"><img src="{{ p.image.url }}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                       <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                          <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i>
                                       </a>
                                       <a href="{% url 'products:add-to-favorite' p.id %}" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                       <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                 </div>
                                 <!-- heading -->
                                 <div class="text-small mb-1">
                                    <a href="#!" class="text-decoration-none text-muted"><small>{{ p.category }}</small></a>
                                 </div>
                                 <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">{{ p.name }}</a></h2>
                                 <div class="text-warning">
                                    <!-- rating -->
                                    <small>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                    </small>
                                    <span class="text-muted small">5 (469)</span>
                                 </div>
                                 <!-- price -->
                                 <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                       <span class="text-dark">{{ p.price }}</span>

                                    </div>
                                    <!-- btn -->
                                    <div>
                                       <a href="{% url 'products:add-to-basket' p.id %}" class="btn btn-primary btn-sm" >
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                             <line x1="12" y1="5" x2="12" y2="19"></line>
                                             <line x1="5" y1="12" x2="19" y2="12"></line>
                                          </svg>
                                          Добавить
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                         {% endfor %}

                     </div>
                     <div class="row mt-8">
                        <div class="col">
                           <!-- nav -->
                           <nav>
                                <ul class="pagination">
                                    <li class="page-item {% if page_obj.has_previous %} {% else %} disabled {% endif %}">
                                        <a class="page-link mx-1" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Назад">
                                            <i class="feather-icon icon-chevron-left"></i>
                                        </a>
                                    </li>

                                    {% for page in paginator.page_range %}
                                        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                                            <a class="page-link mx-1" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endfor %}

                                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                                        <a class="page-link mx-1" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Вперед">
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                     </div>
                  </section>
               </div>
            </div>
         </div>
          {% endblock %}
      </main>


      <script src="{% static 'products/js/nouislider.min.js' %}"></script>
      <script src="{% static 'products/js/wNumb.min.js' %}"></script>
      <!-- Libs JS -->
      <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
      <script src="{% static 'products/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'products/js/simplebar.min.js' %}"></script>

      <!-- Theme JS -->
      <script src="{% static 'products/js/theme.min.js' %}"></script>

      <script src="{% static 'products/js/tiny-slider.js' %}"></script>
      <script src="{% static 'products/js/tns-slider.js' %}"></script>
      <script src="{% static 'products/js/zoom.js' %}"></script>
   

</body>
</html>